
  .main-news {
    display: inline-block;
    margin-top: 10%;
    font-size: 80px;
    justify-items: left;
    font-weight: bold;
  }
  
  
  .main-country {
      display: block;
      font-size: 60px;
      align-items: left;
    }
  
    .main-name {
      display: block;
      font-size: 60px;
      align-items: left;
    }
  
    .main-url {
      display: block;
      font-size: 60px;
      align-items: left;
    }
  
    
    