
 .Main {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 10%;
    font-size: 90px;
    font-weight: bold;
    margin-right: 10%;
  }
  
  .main-item {
    /* display: absolute;
    flex-direction: row; */
    text-align: center;
    margin: 0 auto;
    margin-top: 9%;
    font-size: 70px;
    
  }