.us-news {
  display: flex;
  margin-top: 10%;
  font-size: 80px;
  justify-content: left;
  font-weight: bold;
}


.us-country {
    display: flex;
    font-size: 60px;
    justify-content: left;
  }

  .us-name {
    display: flex;
    font-size: 60px;
    justify-content: left;
  }

  .us-url {
    display: flex;
    font-size: 60px;
    justify-content: left;
  }

  
  